{% extends "base.html" %}
{% block site %}

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <h1 class="logo"><a class="navbar-brand" href="#page-top">Hyper<span class="reg">Styles</span></a></h1>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#about">About</a>
                    </li>
                    <li class="">
                        <a href="#about">About</a>
                    </li>
                    <li class="">
                        <a href="#about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
{% endblock %}
